@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html, body {
    margin: 0;
    background: #FAFAFA;
    color: #090021;
    font-family: 'Poppins', sans-serif;
}

a {
    color: blue;
    text-decoration: underline;
    /* Modification de la Couleur et du Surlignage du lien */
}

#main-nav img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

nav#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 16px;
    background: #FAFAFA;
    color: #090021;
}

nav#main-nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

.active {
    font-weight: bold;
}

header {
    background: #137160; /* Changez la couleur de fond du header */
    color: #F8F8F8;
    height: 453px;
}

h1 {
    margin-top: 100px;
    padding: 0 32px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0;
}

p.subtitle {
    padding: 0 32px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 10px;
    font-weight: normal;
}

section {
    max-width: 1024px;
    margin: auto;
    padding: 32px;
}

#course img {
    width: 100%;
    border-radius: 10px;
}

section#course {
    transform: translateY(-63%);
    margin-bottom: -220px;
}

#course h2 {
    color: #F8F8F8;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: #FFFFFF;
    padding: 16px;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

#concepts .flex {
    gap: 16px;
}

h3 {
    font-size: 17px;
    font-weight: 600;
}

#concepts .card {
    width: calc(50% - 8px);
}

.card h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.dropdown h4 {
    font-weight: normal;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown p, ul {
    font-size: 14px;
    margin-top: 0;
    display: none;
}

.dropdown h4::before {
    content: '▸';
    color: #000000;
    opacity: 0.26;
    font-size: 17px;
    margin-right: 5px;
    line-height: 8px;
}

.dropdown.open h4::before {
    content: '▾';
}

.dropdown.open p, ul {
    display: block;
    /* La double application du Display : block; sur les balises UL et P entraînent des problèmes d'affichage permanent des listes à puce */
}

.slider {
    overflow: hidden;
}

.slider-content {
    display: flex;
    overflow: visible;
    gap: 16px;
    transition: all 0.5s;
}

.slider .card {
    width: 232px;
    flex-shrink: 0;
}

.language-title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.language-title h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.language-content p {
    margin: 0;
}

.language-content {
    margin-top: 10px;
    font-size: 14px;
}

section#tools .card {
    font-size: 16px;
}

ul.card {
    padding-left: 32px;
    font-size: 18px;
}

ul.card li {
    padding-bottom: 5px;
}

.language-title img {
    background: #C4C4C4;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    object-fit: cover;
    font-size: 0;
}

.slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;
}

.slider-arrows img {
    cursor: pointer;
}

@media all and (max-width: 768px) {
    #concepts .card {
        width: 100%;
    }

    nav#main-nav ul {
        display: none;
    }

    h1 {
        margin-top: 50px;
    }

    .slider {
        max-width: 480px;
    }
}
